/*
 *= require responsive-nav
 += require ionicons
 */
@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";
@import "prettify";

$base-color: #C05D5F;
$dark-color: #4a4a4a;
$tablet: new-breakpoint(min-width 40em);
$tablet-screen: new-breakpoint(min-width 40em max-width 64.063em);
$desktop: new-breakpoint(min-width 64.063em);

$navigation-height: 60px;

/* GLOBALS */
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  min-height: 100%;
}

.container {
  @include outer-container();
}

.row {
  @include row();
}




.full-width {
  @include fill-parent();
  //@include row();
}

/* END GLOBALS */

/* SHARED */


/* END SHARED*/


/* NAVIGATION ITEMS */
.no-background {
  width: auto;
  height: auto;
}

.full-menu-background {
  width: 100%;
  height: 100%;
}

.branding {
  display: inline-blocks;
  float: left;
  position: relative;
  //background-color: $base-color;
  //color: #fff;
  font-size: 1.25em;
  height: $navigation-height;
  line-height: $navigation-height;
  //line-height: $navigation-height;
  @include span-columns(6);
  //width: 50px;
  text-align: center;
  vertical-align: middle;

  @include media($tablet-screen) {
    //@include pad();
    float: left;
  }

  @include media($desktop) {
    @include pad(0);
    float: left;
    text-align: left;
  }
  &.background-active {

    & > a {
      color: #fff;

      &:hover {
        color: lighten($base-color, 10%);
      }
    }
    //height: $navigation-height;
  }
  .branding-logo {
    vertical-align: middle;
    text-align: left;
    float: left;
    width: 100%;

    @include media($tablet-screen) {
      padding-left: 8px;
    }
  }
}

#navigation-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: $navigation-height;
  background: #fff;
  z-index: 9999;

  //@include transition(all 0.5 ease-in-out);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  float: right;

  &.background-active {
    background: transparent;
    width: 100%;
    height: 100%;
    //opacity: 0.75;
  }

  @include media($desktop) {
    position: relative;
  }
}

.banner-image {
  height: 200px;
  background-color: #a5a5a5;
}

#navigation-area {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  //padding: 16px;
  //@include transition(all 0.5 ease-in);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  @include transform-origin(right top);
  float: right;
  &.background-active {
    z-index: 9999;
    background-color: rgba(192,93,95,0.75);
    width: 100%;
    text-align: center;
    height: 100%;
  }

  @include media($tablet) {
    //@include pad();
  }
  @include media($desktop) {
    float: none;
    @include pad(0);
    @include reset-display;
    @include outer-container();
  }
}

.nav-toggle {
  //float: right;
  position: relative;
  top: 0;
  right: 0;
  float: right;
  background-color: $base-color;
  padding: 16px;
  font-color: #fff;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  //@include transition-delay(0.25s);
  text-align: right;
  height: $navigation-height;
  //line-height: $navigation-height;
  vertical-align: middle;

  @include media($tablet-screen) {
    display: block;
  }

  @include media($desktop) {
    display: none;
  }

  &:before {
    content: '\f20e';
    font-family: ionicons, "ionicons";
    padding-right: 8px;
    -webkit-transition: content 0.5s;
    transition: content 0.5s;
    line-height: 1.5em;
  }

  &:after {
    content: 'Menu';
    -webkit-transition: content 0.5s;
    transition: content 0.5s;
    padding-right: 8px;
  }

  &.active {
    height: $navigation-height;
    background: transparent;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    &:before {
      content: '\f2d7';
      font-family: 'ionicons';
      -webkit-transition: content 0.5s;
      transition: content 0.5s;
      padding-right: 8px;
    }

    &:after {
      content: 'Close';
      -webkit-transition: content 0.5s;
      transition: content 0.5s;
      padding-right: 8px;
    }

    //text-align: right;
    //float: none;
  }

  color: #fff;


}

.nav-collapse {
  position: relative;
  clear: right;
  float: right;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  height: 100%;
  @include transform(top right);
  @include transform(translate3d(0,10%,0));
  //@include transition-delay(0.25s);

  @include media($desktop) {
    float: none;
    @include outer-container();
  }

  ul.navigation-items {
    float: right;
    @include transition(all 0.35s);

    @include media($desktop) {
      @include outer-container();
      text-align: right;
    }
    li {
      margin-bottom: 20px;

      @include media($desktop) {
        display: inline;
        line-height: $navigation-height;
        margin-right: 16px;
      }

      &:last-child {
        margin-right: 0;
      }


      a {
        color: #fff;
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
        //padding-bottom: 60px;
        //margin: 80px 0;

        @include media($desktop) {
          font-size: 1em;
          text-transform: none;
          font-weight: 600;
          color: #4A4a4a;
        }

        &:hover {
          color: $base-color;
          border-bottom: 1px dotted $base-color;
        }

        &.active {
          color: $base-color;
        }
      }
    }
}

  &.opened {
    float: none;
    //opacity: 1;

    ul.navigation-items {
      opacity: 1;
      @include transition(all 0.35s);
      @include transform(scale(1));
    }
  }

  &.closed {
    ul.navigation-items {
      opacity: 0;
      @include transition(all 0.35s);
      @include transform(scale(0));

      @include media($desktop) {
        opacity: 1;
        @include transform(scale(1));
      }
    }

    @include media($desktop) {
      opacity: 1;
      @include transform(scale(1));
    }
  }
}

/* END NAVIGATION */

/* HEADER AREA */
.introduction-area {
  padding-top: $navigation-height;
  height: 600px;
  position: relative;
  @include background(url("../images/snow-slush.png"));
  background-repeat: no-repeat;

  color: #fff;
  &::before {

  }

  @include media($desktop) {
    background-position: center;
    background-size: cover;
  }
}

.hello-text {
  //font-variant: small-caps;
}

.header-box {
}

.header-text {
  position: relative;

  @include span-columns(10);
  @include pad(12px);
  margin-top: 125px;

  @include media($desktop) {
    @include span-columns(5);
    @include pad(0);
  }
}

.hello-text {

  font-weight: 300;
  font-size: 16px;

  @include media($desktop) {
    font-size: 16px;
  }
}

.full-name {
  font-size: 2.5em;
  font-weight: 900;
  width: 100%;
}

.personal-description {

  font-weight: 300;
  font-size: 24px;
  @include media($desktop) {
    font-size: 30px;
  }
}

.divider {
  width: 75%;
  text-align: center;
  opacity: 0.75;
}


/* END HEADER AREA */


.home-area {
  background-color: #fff;
  text-align: center;
  width: 100%;
}

.about-area {
  padding-top: 20px;
  padding-bottom: 40px;
}

.area-heading {
  position: relative;
  display: block;
  font-variant: small-caps;
  //font-size: 24px;
  //font-size: 1.25em;
  color: #4A4A4A;
  font-weight: 600;
  font-size: 24px;
  padding: 40px 0;
  margin: 0 auto;
  //padding-bottom: 40px;
}

.recent-posts {
  background: #e5e5e5;
  padding: 20px 0;
  display: block;
}

.row-table {
  @include row(table);
}

.full-width-table {
  @include media($desktop) {
    @include fill-parent();
    @include row(table);
  }
  // display: block;

}

.container-full {
  @include outer-container();

  @include media($desktop) {
    @include outer-container(100%);
  }
}
/* @include reset-display;
 */
.placeholder-box-projects {
  //background-color: $base-color;
  background-color: #fff;
  height: 400px;
  margin-bottom: 16px;

  @include media($desktop) {
    @include span-columns(4);
  }

  @include reset-display;
}


.reset-disp {
  @include reset-display;
}

.placeholder-box {
  @include span-columns(12);
  background-color: $base-color;
  height: 400px;
  margin-bottom: 16px;


  @include media($desktop) {
    @include span-columns(4);
  }
}

@include reset-display;

.reset {
  @include reset-display;
}
.accent {
  color: $base-color;
}

.pad-left {
  padding-left: 8px;

  @include media($desktop) {
    padding-left: 0;
  }
}

button.circle-button {
  position: relative;
  border-radius: 16px;
  padding: 16px;
  text-transform: uppercase;
  //margin: 0 auto;
  @include transition(all 0.5s);

  &:after {
    @include transition(all 0.5s);
    opacity: 0;
  }
  a {
    position: relative;
    display: block;
    color: #fff;
    height: 100%;
    width: 100%;
  }
}

.push-button {
  display: block;
}
.lg-button {
  @include reset-display;
  @include media($desktop) {
    @include span-columns(4);
    @include shift(4);
  }

}

.push-button {
  margin-top: 20px;
}

.latest-projects {
  background: #e5e5e5;
  //padding: 20px 0;
  padding-bottom: 20px;
  display: block;
}

.project-items {
  @include fill-parent();
  @include row(table);
  position: relative;
  list-style: none;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 1.25em;
}

.project-items figure {
  position: relative;
  float: left;
  margin: 0;
  overflow: hidden;
  max-height: 400px;
  max-width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: $base-color;
  margin-bottom: 20px;

  @include media($desktop) {
      @include span-columns(4);
      margin: 0;
  }
}

.project-items figure img {
  position: relative;
  //display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.project-items figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.project-items figure figcaption::before,
.project-items figure figcaption::after {
  pointer-events: none;
}

.project-items figure figcaption,
.project-items figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-items figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/* Tympanus Oscar Effect */
/* http://tympanus.net/Development/HoverEffectIdeas/ */
/* Source: https://github.com/codrops/HoverEffectIdeas/blob/master/css/set1.css */
figure.effect-oscar {
  //background: -webkit-linear-gradient(45deg, $base-color 0%, #9b4a1b 40%, #3a342a 100%);
  //background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
  //background-color: $dark-color;
  background-color: rgba(192,93,95,0.9);

  img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }

  figcaption {
    padding: 3em;
    //font-color: $dark-color;
    //background-color: rgba(58,52,42,0.7);
    background-color: rgba(58,52,42,0.7);
    //background-color: rgba(192,93,95,0.7);

    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
  }

  figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
  }

  h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 90%,0);
    transform: translate3d(0, 90%,0);
    //font-size: 1.25em;
    @include media($desktop) {
      //font-size: 2.5em;
      -webkit-transform: translate3d(0, -100%,0);
      transform: translate3d(0, -100%,0);
    }

  }

  figcaption::before, p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  &:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  &:hover figcaption::before,
  &:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  &:hover figcaption {
    background-color: rgba(58,52,42,0);

  }

  &:hover img {
    opacity: 0.4;
  }
}



.social-media-list {
  display: block;

  list-style: none;
  font-size: 1.75em;

  @include media($desktop) {
  }

  li {
    margin-left: 0;
    display: inline-block;
    margin-right: 8px;

  }
}


#element::-webkit-scrollbar {
    display: none;
}

.about-header-image {
  @include background(linear-gradient(rgba(39,54, 60, 0.95), rgba(39,54, 60, 0.95)), url("../images/doubleme.jpg"));
  background-blend-mode: overlay, multiply;
  background-size: cover;
  background-position: center center;
}

.blog-header-image {
  @include background(linear-gradient(rgba(39,54, 60, 0.95), rgba(39,54, 60, 0.95)), url("../images/doubleme.jpg"));
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center center;
}
.page-paragraph-text {
  font-family: "Gentium Basic", Georgia, serif;
  font-size: 1.25em;
}

.projects-area {
  text-align: center;
  //padding: 40px 0;
  //font-size: 1.25em;
}

@include reset-display;
.contact-area {
  @include pad();

  @include media($desktop) {
    @include pad(0);
  }
}
.contact-details {
  position: relative;
  display: block;
  font-size: 1.25em;
  font-family: "Gentium Basic", Georgia, serif;

  @include media($desktop) {

  }
}

.contact-container {
  padding-bottom: 20px;
  @include media($desktop) {
    @include span-columns(10);
    @include shift(1);
  }

}
.projects-page-heading {
  //padding: 20px 0;
  padding-bottom: 10px;
}

.post-area {
  padding-bottom: 40px;
}

.article {
  font-size: 1.25em;
  font-family: "Gentium Basic", Georgia, serif;
  color: #4A4A4A;
  //font-weight: 600;
  padding-bottom: 20px;
}
.center-text {
  text-align: center;
}

.span-6-centered {
}

@include display-context(block);

.span-6 {
  @include span-columns(6);
}

.span-8-centered {
  @include span-columns(8);
  @include shift(2);
}

.project-content {
  @include pad();

  @include media($desktop) {
    @include pad(0);

  }
}

@include reset-display;

.thumbnails {
  @include span-columns(12);
  padding-bottom: 30px;

  @include media($desktop) {
    @include span-columns(6);
  }
}

.sans-font {
  font-family: "Source Sans Pro", sans-serif;
}

.hang-left {
  @include span-columns(6);
  text-align: left;
  float: left;
  font-weight: 600;
  font-size: 1.1em;
  @include media($desktop) {
    font-size: 1.15em;
  }
}

.next-prev-section {
  @include pad();

  @include media($desktop) {
    @include span-columns(11);
    @include pad(0);
  }
}

.hang-right {
  @include span-columns(6);
  text-align: right;
  float: right;
  font-weight: 600;
  font-size: 1.1em;

  @include media($desktop) {
    font-size: 1.15em;
  }
}

.project-area {
  display: block;
  padding-top: 20px;
}

.project-text {
  @include media($desktop) {
    @include span-columns(5);
    //@include shift(3);
  }
}

.project-description-text {
  font-family: "Gentium Basic", Georgia, serif;
  font-size: 1.25em;
  color: #4a4a4a;
}
.header-content {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 40px;
  padding: 40px 0;
  text-align: center;
  color: #4A4A4A;
  margin: 0 auto;
}

.span-3 {
  @include span-columns(3);
}
.project-title {
  display: block;
  font-weight: 600;
  font-size: 2em;
  padding-top: 40px;
  //padding: 20px 0;
  text-align: center;
  width: 100%;

  @include media($desktop) {
    font-size: 2.25em;
  }
}


.project-banner-image {
  background-blend-mode: multiple;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat no-repeat;
}

.projects-header-image {
  @include background(linear-gradient(rgba(39,54, 60, 0.95), rgba(39,54, 60, 0.95)), url("../images/abandonedrubble.jpg"));
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center center;
}

.blog-posts {
  @include pad();
  @include media($desktop) {
    @include pad(0);
  }
}
.blog-post-area {
  //padding: 20px 0;

  p {
    font-size: 1.25em;
    font-family: "Gentium Basic", Georgia, serif;
    padding-top: 10px;
  }
}

.post-content {
  font-family: "Gentium Basic",  Georgia, serif;
  font-size: 1.25em;
  padding: 20px 0;
  color: #4a4a4a;

  & > h1,h2,h3,h4,h5,h6 {
    font-color: $base-color;
  }
}

.post-container {
  padding-top: 80px;
  display: block;
}
.post-content-area {
  @include pad();

  @include media($desktop) {
    @include pad(0);
    @include span-columns(8);
    @include shift(2);
    display: block;
  }
}

.writing-header-image {
  @include background(linear-gradient(rgba(39,54, 60, 0.95), rgba(39,54, 60, 0.95)), url("../images/MeOutside.png"));
  //@include background(linear-gradient(rgba(149,82, 81, 0.95), rgba(149,82, 81, 0.95)), url("../images/MeOutside.png"));
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center center;
}

.writings {
  @include media($desktop) {
    @include span-columns(10);
  }
}

.read-link {

}


.post-title {
  $color: #4a4a4a;
  font-size: 2em;
  font-weight: 600;
  color: $color;
  //color:
  //color: lighten($color, 10%);
}


.actual-post-title {
  font-weight: 700;
}

pre {
  @include pad();
/*   background-color: #4a4a4a;
  code {
    color: #fff;
  } */
}

p {
  code {

  }
}

.post-date {
  display: block;
  font-size: 1.25em;
}

.post-summary {
  font-family: "Gentium Basic", Georgia, serif;
}
.disclaimer {
  @include pad();
  text-align: left;
  //font-size: 1.25em;
  //font-family: "Genitum Basic", Georgia, serif;
  //color: $base-color;
  font-weight: 500;

  @include media($tablet) {
    text-align: center;
  }

  @include media($desktop) {
    text-align: left;
    @include pad(0);

    @include span-columns(2);
  }
}

.disclaimer-text {
  font-weight: 700;
}

pre.lineno{
  margin: 0px;
}

.banner-header {
  position: relative;
  height: 200px;
  width: 100%;
  //background-color: #4a4a4a;
  @include media($desktop) {
    height: 400px;
}

.medium-text {
  font-weight: 600px;
}
/*   &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    //background-color: rgba(39,54, 60, 0.5);
  } */
}

.left-section {
  display: none;
  text-align: right;

  @include media($tablet) {
    @include reset-display;
    @include span-columns(4);
  }
  @include media($desktop) {
    @include reset-display;
    @include span-columns(4);
    //display: initial;
  }

  ul {
    font-family: 'Gentium Basic', Georgia, serif;
    font-size: 1.25em;

    li > a {
      color: $base-color;
      font-weight: 600;

      &:hover {
        $accent: darken($base-color, 10%);
        color: $accent;
        border-bottom: 1px $accent dotted;
      }
    }
  }


}

.time-section, .company-section {
  font-family: 'Gentium Basic', Georgia, serif;
  //font-size: 1.1em;
}

.time-section {
  text-align: left;
  @include span-columns(6);

  @include media($desktop) {
    text-align: left;
    @include span-columns(4);
    //@include shift(-1);
  }
}

.company-section {
  text-align: left;
  @include span-columns(6);

  @include media($desktop) {
    @include span-columns(8);
  }
}

.exp {
  padding-bottom: 8px;
  font-size: 1.25em;
}

.push-down {
  padding-top: 15px;
}

.contact-header-image {
  @include background(linear-gradient(rgba(39,54, 60, 0.95), rgba(39,54, 60, 0.95)), url("../images/GrayscaleDoubleMe.png"));
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center center;
}

.heading-room {
  display: block;
  @include pad();
  text-align: center;

  @include media($desktop) {
    @include pad(0);
    //padding: 20px 0;
    padding-top: 20px;
    //padding-bottom: 10px;
  }
}
.page-heading {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #4A4A4A;
    font-weight: 600;
    font-size: 1.15em;
    padding-bottom: 4px;
    //text-align: center;
    //padding-bottom: 40px;
}

.contact-blurb {
  font-size: 1.25em;
  font-weight: 500;
  font-family: "Gentium Basic", Georgia, serif;
  text-align: center;
}
.emphasis {
  font-weight: 700;
}
.right-section {
  @include pad();
  @include span-columns(12);


  @include media($tablet) {
    @include pad(0);
    padding-right: 4px;
    @include span-columns(8);
  }

  @include media($desktop) {
    @include pad(0);
    @include span-columns(8);
  }

  .row > ul,p {
    font-family: 'Gentium Basic', Georgia, serif;
    font-size: 1.25em;
  }


  a {
    color: $base-color;
    font-weight: 700;

    &:hover {
      $accent: darken($base-color, 10%);
      color: $accent;
      border-bottom: 1px $accent dotted;
      //font-weight: 700;
    }
  }
}

@include reset-display;

footer {
  //height: 100px;
  background-color: #4a4a4a;
  color: #fff;
  font-weight: 600;
  padding: 50px 0;
}


.pad {
  @include pad();

  @include media($desktop) {
    @include pad(0);
  }
}

.footer-left {
  //@include span-columns(4)
  @include span-columns(12);
  text-align: center;
  @include media($desktop) {
    @include span-columns(6);
    text-align: left;
  }
}

.footer-right {
  @include span-columns(12);
  //float: right;
  text-align: center;
  display: none;
  @include media($desktop) {
    @include reset-display;
    @include span-columns(6);
    text-align: right;
  }
}

.footer-navigation {
  display: inline;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 8px;
    &:last-child {
      margin: 0;
    }

    a {
      color: lighten($base-color, 20%);
      //color: #fff;
      font-weight: 600;

      &:hover {
        color: $base-color;
      }
    }
  }
}

.landing-posts {
  padding-bottom: 20px;
}

.landing-post-title {
  font-size: 1.5em;
  font-weight: 600;
  //padding-bottom: 16px;
}
.landing-post {
  max-height: 400px;
  text-align: left;

  .post-date {
    padding: 4px 0;
  }
  @include media($desktop) {
    @include span-columns(4);
    text-align: left;
  }

  p {
    font-family: "Gentium Basic", Georgia, serif;
    font-size: 1.25em;
  }
}
