<div class="footer">
  <div class="container">

    <div class="row">
      <span class="copyright"> <span class="accent">&copy;</span> 2015 Iheanyi Ekechukwu. </span>
<!--
      <ul class="social-media-list">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>GitHub</li>
            <li>Dribbble</li>
        </ul> -->
    </div>



  </div>

</div>