<footer>
  <div class="container pad">

    <div class="footer-left">

          <div class="row">
            Design & Code &copy; Iheanyi Ekechukwu 2015.
          </div>

          <div class="row">
            <ul class="social-media-list">
              <li class=""><a href="mailto:iekechukwu@gmail.com" class="ion-email"></a></li>
              <li class=""><a target="_blank" href="http://twitter.com/kwuchu" class="icon ion-social-twitter"></a></li>
              <li class=""><a target="_blank" href="http://github.com/iheanyi" class="icon ion-social-github"></a></li>
              <li class=""><a target="_blank" href="http://dribbble.com/iheanyi" class="icon ion-social-dribbble"></a></li>
              <li class=""><a target="_blank" href="http://linkedin.com/in/iheanyi" class="icon ion-social-linkedin"></a></li>
            </ul>
          </div>

    </div>

    <div class="footer-right">
        <ul class="footer-navigation">
            <li><%= link_to 'About', '/about.html', :relative => true %></li>
            <li><%= link_to 'Projects', '/projects.html', :relative => true %></li>
            <li><%= link_to 'Writing', '/blog.html', :relative => true %></li>
            <li><%= link_to 'Contact', '/contact.html', :relative= => true %></li>
        </ul>
    </div>
  </div>
</footer>