<div class="introduction-area">
  <div class="container header-box">
      <div class="header-text">
        <span class="personal-description">Welcome to the site of . . . </span>

        <h2 class="full-name">Iheanyi Ekechukwu.</h2>

        <p class="personal-description">I am a Software Developer at IBM Watson Innovation Labs.</p>

        <hr class="divider">

        <%= link_to 'view biography', '/about.html', :class => "btn circle-button" %>
      </div>
  </div>
</div>
