
<div class="navigation">
  <div class="container">
    <nav class="nav-collapse">
        <div class="branding">
          <a href="#" class="branding-logo">I</a>
        </div>

        <ul class="navigation-items">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
  </div>
</div>
