<div id="navigation-header" class="navigation no-background">
  <div id="navigation-area" class="">
    <div id="branding-area" class="branding">
      <a href="/" class="branding-logo">Iheanyi Ekechukwu</a>
    </div>

    <nav class="nav-collapse">
        <ul class="navigation-items">
            <li><%= link_to 'About', '/about.html', :relative => true %></li>
            <li><%= link_to 'Projects', '/projects.html', :relative => true %></li>
            <li><a href="#writings">Writings</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
  </div>
</div>
