<div class="projects-header-image banner-header">

</div>

<div class="projects-area">
  <div class="container">
    <div class="row">
        <span class="page-heading">projects</span>

        <p class="page-paragraph-text">In my free time, I enjoy building beautiful, user-friendly applications, whether for myself or others.</p>
    </div>
  </div>
</div>