<div class="projects-header-image banner-header">

</div>

<div class="projects-area">
  <div class="container-full">
    <div class="row">

        <div class="projects-page-heading">
          <span class="page-heading">projects</span>

          <p class="page-paragraph-text">In my free time, I enjoy building beautiful, user-friendly applications, whether for myself or others.</p>
        </div>
    </div>

    <div class="row">
      <div class="latest-projects">
        <div class="container-full">
          <div class="full-width-table project-items">
              <% blog("projects").articles.each do |article| %>
                <figure class="effect-oscar placeholder-box-projects">
                 <%= image_tag(article.data.cover_photo) %>

                  <figcaption>
                    <h2><%=article.title %></h2>
                    <p><%= article.data.description %></p>

                    <a href="<%= article.url %>"></a>
                  </figcaption>
                </figure>

              <% end %>
            </div>

          <div class="reset-disp"></div>
        </div>

        <div class="container">
          <button class="circle-button lg-button reset">Want to Collaborate?</button>
        </div>
      </div>
    </div>
  </div>
</div>