<div class="projects-area home-area">
  <span class="area-heading">latest projects</span>

  <div class="latest-projects">
    <div class="container-full">

      <div class="full-width-table project-items">
        <div class="placeholder-box-projects">Item 1</div>
        <div class="placeholder-box-projects">Item 2</div>
        <div class="placeholder-box-projects">Item 3</div>
      </div>

      <div class="reset-disp"></div>

      <button class="circle-button lg-button reset">VIEW ALL PROJECTS</button>

    </div>


  </div>


</div>