<div class="projects-area home-area">
  <span class="area-heading">latest projects</span>

  <div class="latest-projects">
    <div class="container-full">

      <div class="full-width-table project-items">

        <figure class="effect-oscar placeholder-box-projects">
          <img src="/images/NDSearchFull.png" alt="Notre Dame Class Search">

          <figcaption>
            <h2>Notre Dame Class Search</h2>
            <p>Rails/EmberJS application for searching for courses at Notre Dame.</p>

            <a href="#">View Case Study</a>
          </figcaption>
        </figure>

        <figure class="effect-oscar placeholder-box-projects">
          <img src="/images/pageunliker.png" alt="Notre Dame Class Search">

          <figcaption>
            <h2>Facebook Page Unliker</h2>
            <p>Easily unlike old Facebook Pages!</p>

            <a href="#">View Case Study</a>
          </figcaption>
        </figure>

        <figure class="effect-oscar placeholder-box-projects">
          <img src="/images/ImbalancedPicture.jpg" alt="Notre Dame Class Search">

          <figcaption>
            <h2>Imbalanced Dataset Analyzer</h2>
            <p>Django app for automated analyses of imbalanced datasets.</p>

            <a href="#">View Case Study</a>
          </figcaption>
        </figure>
      </div>

      <div class="reset-disp"></div>
    </div>

    <div class="container">
      <button class="circle-button lg-button reset">VIEW ALL PROJECTS</button>
    </div>
  </div>
</div>