<div class="projects-area home-area">
  <span class="area-heading">latest projects</span>

  <div class="latest-projects">
    <div class="container-full">

      <div class="full-width-table project-items">
        <div class="placeholder-box-projects nd-image"></div>
        <div class="placeholder-box-projects nd-image"></div>
        <div class="placeholder-box-projects nd-image"></div>
      </div>

      <div class="reset-disp"></div>
    </div>

    <div class="container">
      <button class="circle-button lg-button reset">VIEW ALL PROJECTS</button>
    </div>
  </div>
</div>