<div class="writings-area home-area">
  <span class="area-heading">recent writings</span>

  <div class="recent-posts reset-disp">
    <div class="container">
      <div class="row landing-posts">

        <div class="">

          <% blog("blog").articles[0..2].each do |article| %>
              <div class="landing-post pad">
                <span class="landing-post-title"><%= link_to article.title, article, :relative => true %></span>

                <span class="post-date"><%= article.date.strftime('%B %e, %Y') %></span>

                <%= article.summary(250) %>
              </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <button class="circle-button lg-button"><%= link_to 'read more articles', '/blog.html' %></button>
      </div>

    </div>


  </div>
</div>