---
title: Iheanyi Ekechukwu | Contact
---

<div class="banner-header contact-header-image">

</div>

<div class="contact-area">
  <div class="container">

    <div class="contact-container">
      <div class="row">
        <span class="page-heading heading-room">Contact</span>

        <p class="contact-blurb">Project requests, questions, or just want to say hi? Please do not hesitate to contact me by one of the following means.</p>
      </div>

      <div class="row">

        <div class="contact-details">
          <p><span class="accent emphasis"><a href="http://twitter.com/kwuchu">Twitter</a></span> – Twitter is best if you just want to give me a brief hello or ask a quick question, I'm pretty fast at responding in no more than 140 characters, so shoot me a mention sometime!</p>
          <p><span class="accent emphasis"><a href="mailto:iekechukwu@gmail.com">Email</a></span> – Email is best for longer, more detailed questions in addition to freelance inquiries. I generallly try to respond within the same day, so email is always casually convenient.</p>
        </div>

      </div>
    </div>


  </div>

</div>
